/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: grid;
    grid-template-areas: 
    "parrafo1 parrafo1 parrafo2 parrafo2"
    "parrafo1 parrafo1 parrafo2 parrafo2"
    "parrafo3 parrafo3 parrafo3 parrafo3"
    "parrafo3 parrafo3 parrafo3 parrafo3"
    ;
}
.parrafo1{
    grid-area: parrafo1;
}
.parrafo2{
    grid-area: parrafo2;
}
.parrafo3{
    grid-area: parrafo3;
}

.parrafo1 .palabra1{
    color: aqua;
    background-color: black;
}
.parrafo2 .palabra2{
    color:crimson;
    background-color: darkslategrey;
}
.parrafo3 .palabra3{
    color:darkorange;
    background-color: black;
}
